.movie-card .movie-genres,
.movie-card .movie-rating {
    display: none;
}

.movie-card:hover .movie-rating {
    display: flex;
}

@media(max-width: 640px) {
    .movie-card .progress-circle {
        transform: scale(0.7);
    }
}

@media(max-width: 480px) {
    .movie-card .progress-circle {
        transform: scale(0.5);
    }
}

@media(min-width: 480px) {
    .movie-card:hover .movie-genres {
        display: inline;
    }
}